#category {
    .book {
        height: 285px;
        a {
            text-decoration: none;
            &:hover {
                text-decoration: none;
                .book-info .book-title {
                    color: #1D6464;
                }
            }
            .book-thumb {
                height: 190px;
                position: relative;
                img {
                    max-height: 190px;
                    position: absolute;
                    bottom: 0;
                }
            }
            .book-info {
                margin-top: 10px;
                padding-top: 10px;
                border-top: 1px black solid;
                .book-title {
                    color: #339999;
                    font-family: 'Exo 2 Bold', 'Exo 2';
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 16px;
                }
                .book-authors {
                    color: #999999;
                    font-family: 'Exo 2 Extra Light Italic', 'Exo 2';
                    font-size: 12px;
                    font-style: italic;
                    font-weight: 200;
                }
            }
        }
    }
}
