.sidebar {
  background-color: black;
  color: white;
  hr {
    margin: 0;
  }
  .sidebar-module {
    padding-right: 15px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    &.categories {

    }
    .sidebar-user {
      font-size: 14px;
      font-family: 'Exo 2 Semi Bold', 'Exo 2';
      .user-name {
        border-bottom: 1px #999999 solid;
      }
    }
    .sidebar-header {
      padding-top: 40px;
      padding-bottom: 10px;
      color: #666666;
      font-family: 'Exo 2 Medium', 'Exo 2';
      font-size: 11px;
      font-weight: 500;
    }
    .nav {
      color: #BCBCBC;
      cursor: pointer;
      font-family: 'Exo 2';
      font-size: 14px;
      line-height: 36px;
      li {
        a {
          padding: 0;
          color: #BCBCBC;
          &:hover {
            background-color: #000000;
            color: #ffffff;
          }
        }
      }
      &.user {
        color: #999999;
        font-family: 'Exo 2 Extra Light', 'Exo 2';
        font-size: 13px;
        font-style: normal;
        font-weight: 200;
        height: auto;
        line-height: 28px;
        li {
          img {
            margin-right: 10px;
            width: 18px;
            height: 18px;
          }
        }
      }
    }
  }
}