{% verbatim %}
<div id="auto-complete">
    <div class="book-row" ng-repeat="book in autocomplete.books">
        <div class="left book-image"><img ng-src="{{ book.image }}"></div>
        <div class="left book-info">
            <div class="book-title">{{ book.title }}</div>
            <div class="book-authors">{{ book.authors.join(', ') }}</div>
        </div>
        <div class="clear"></div>
    </div>
</div>
{% endverbatim %}
