{% verbatim %}
<div class="row">
    <div class="col-md-12 content-title">{{ category.title }}</div>
</div>
<div class="row" id="book-list" ng-repeat="book in category.books">
    <div class="col-md-4">
        <div><img ng-src="book.image"></div>
        <p>{{ book.title }}</p>
        <p>{{ book.authors }}</p>
    </div>
</div>
{% endverbatim %}
